.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

@media (min-width:0px) and (max-width:700px){

  .navbar{
    height: 60px;
  }
  .navContainer{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navButton{
    margin-left: 10px;
    margin-top: 5px;
    border: none;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:710px) and (max-width:1050px) {

  .navContainer{
    justify-content: space-between;
    font-size: 15px;
  }
 
  .navButton{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left:250px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }
}

@media (min-width:1010px) and (max-width:2500px) {
 
  .navContainer{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }
}